#homeCard{
    background-color: white;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 15%;
    font-size: 23px;
    padding-bottom: 15%;
    border: #2382ff 15px solid;
    border-radius: 50%;
}